{% extends "shop/index.html" %}
{% load static %}

{% block title %}
    
{% endblock %}

{% block content1 %}


<div class="header-media-wrap">
	<div class="header-media">
		<div class= "banner-parallax">
			<div class = "banner-bg-wrap">
				<div class="banner-inner prestation">
					
				</div>
			</div>
		</div>
		<div class="banner-caption">
			<h1>Nos prestations immobilières</h1>
			<h2>Vite fait bien fait!</h2>
		</div>
	</div>
</div>
	
<div class="container-fluid">
<div class="row prest">
	<div class="col-sm-4" style="background-color:green;">
		<figure class="head1">
			<img src="{% static '/images/IMG_prest1.JPG' %}" alt="Trulli">
			<figcaption style="display:inline-block;">Fig1. - Trulli, Puglia, Vous avez des biens immobiliers que
			vous souhaitez mettre à la vente, confiez nous les proposerons à notre clientèle variée en vous 
			conseillant bien sure sur le juste prix de vente ou le juste loyer à appliquer.</figcaption>
		</figure>
	</div>
	<div class="col-sm-4" style="background-color:gray;">
		<figure class="head1">
			<img src="{% static '/images/IMG_prest1.JPG' %}" alt="Trulli">
			<figcaption style="display:inline-block;">Fig2. - Trulli, Puglia, Vous avez des biens immobiliers que
			vous souhaitez mettre à la vente, confiez nous les proposerons à notre clientèle variée en vous 
			conseillant bien sure sur le juste prix de vente ou le juste loyer à appliquer.</figcaption>
		</figure>
	</div>
	<div class="col-sm-4" style="background-color:yellow;">
		<figure class="head1">
			<img src="{% static '/images/IMG_prest1.JPG' %}" alt="Trulli">
			<figcaption style="display:inline-block;">Fig1. - Trulli, Puglia, Vous avez des biens immobiliers que
			vous souhaitez mettre à la vente, confiez nous les proposerons à notre clientèle variée en vous 
			conseillant bien sure sur le juste prix de vente ou le juste loyer à appliquer.</figcaption>
		</figure>
	</div>
	
</div>
<div class="row prest">
	<div class="col-sm-4" style="background-color:gray;">
		<figure class="head1">
			<img src="{% static '/images/IMG_prest1.JPG' %}" alt="Trulli">
			<figcaption style="display:inline-block;">Fig1. - Trulli, Puglia, Vous avez des biens immobiliers que
			vous souhaitez mettre à la vente, confiez nous les proposerons à notre clientèle variée en vous 
			conseillant bien sure sur le juste prix de vente ou le juste loyer à appliquer.</figcaption>
		</figure>
	</div>
	<div class="col-sm-4" style="background-color:white;">
		<figure class="head1">
			<img src="{% static '/images/IMG_prest1.JPG' %}" alt="Trulli">
			<figcaption style="display:inline-block;">Fig1. - Trulli, Puglia, Vous avez des biens immobiliers que
			vous souhaitez mettre à la vente, confiez nous les proposerons à notre clientèle variée en vous 
			conseillant bien sure sur le juste prix de vente ou le juste loyer à appliquer.</figcaption>
		</figure>
	</div>
	<div class="col-sm-4" style="background-color:green;">
		<figure class="head1">
			<img src="{% static '/images/IMG_prest1.JPG' %}" alt="Trulli">
			<figcaption style="display:inline-block;">Fig1. - Trulli, Puglia, Vous avez des biens immobiliers que
			vous souhaitez mettre à la vente, confiez nous les proposerons à notre clientèle variée en vous 
			conseillant bien sure sur le juste prix de vente ou le juste loyer à appliquer.</figcaption>
		</figure>
	</div>
	
</div>
</div>
{% endblock content1 %}    
